# Node modules (reinstalled inside Docker)
node_modules

# Logs
*.log
npm-debug.log
yarn-error.log

# Git files
.git
.gitignore



# Env files (keep secrets out of image)
.env
.env.local

# OS / Editor stuff
.DS_Store
Thumbs.db
.vscode
.idea
